<div class="main-content">






    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Apuestas</h4>
                        <p class="card-category"> Mi lista de apuestas</p>
                    </div>
                    <div class="card-body">
                        <button mat-flat-button color="warn" class="pull-right" (click)="openBetDialog()">
                            <mat-icon>note_add</mat-icon>
                        </button>
                        <div class="table-responsive">

                            <mat-form-field>
                                <mat-label>Buscar</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
                            </mat-form-field>



                            <table mat-table [dataSource]="dataSource" matSort class="table">

                                <!--- Note that these columns can be defined in any order.
                                      The actual rendered columns are set as a property on the row definition" -->

                                <!-- Position Column -->
                                <ng-container matColumnDef="ID_Bet">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ID_Bet}} </td>
                                </ng-container>

                                <!-- Position Column -->
                                <ng-container matColumnDef="ID_Group">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Grupo </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ID_Group}} </td>
                                </ng-container>


                                <!-- Name Column -->
                                <ng-container matColumnDef="ClientFullName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ClientFullName}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="Number">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Número </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Number}} </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="Bet">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Apuesta </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Bet | currency:'MXN'}} </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="Date">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de juego </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
                                </ng-container>


                                <!-- Symbol Column -->
                                <ng-container matColumnDef="Created">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Creada </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Created}} </td>
                                </ng-container>

                                <ng-container matColumnDef="Actions" arrowPosition='before'>
                                    <th mat-header-cell *matHeaderCellDef> Opciones </th>
                                    <td mat-cell *matCellDef="let element">

                                        <button mat-icon-button color="warn">
                                            <a href="https://riztek.com.mx/php/Quinelas/bet_ticket.php?ID_Bet={{element.ID_Bet}}"  target="_blank" color="warn">
                                                <mat-icon>local_offer</mat-icon>
                                            </a> 
                                        </button>
                                        <button mat-icon-button color="warn" (click)="viewBetTicket(element)">
                                            <a href="https://riztek.com.mx/php/Quinelas/bet_tickets.php?betsGroup={{element.ID_Group}}"  target="_blank" color="warn">
                                                <mat-icon>more</mat-icon>
                                            </a> 
                                        </button>
                                        <button mat-icon-button color="warn">                                                                              
                                            <a href="https://wa.me/52{{element.clientPhone}}?text=https://riztek.com.mx/php/Quinelas/bet_tickets.php?betsGroup={{element.ID_Group}}"  target="_blank" color="warn">
                                                <mat-icon>mobile_screen_share</mat-icon>
                                            </a> 
                                        </button>
                                </ng-container>




                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[10, 20, 100]" showFirstLastButtons></mat-paginator>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>