<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://riztek.com.mx/" target="_blank" class="simple-text">
                        Ayuda
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made by
            <a href="http://riztek.com.mx/" target="_blank" class="simple-text">Riztek</a>.
        </div>
    </div>
</footer>