<div class="main-content animated fadeIn">
    <div class="container-fluid">


        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">confirmation_number</i>
                        </div>
                        <p class="card-category">Números</p>
                        <h3 class="card-title">{{dash.TotalBets}}
                            <!--<small>GB</small>-->
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Mes actual
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">request_quote</i>
                        </div>
                        <p class="card-category">Apuestas</p>
                        <h3 class="card-title">{{dash.AmountBets | currency:'MXN'}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Mes actual
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">people_alt</i>
                        </div>
                        <p class="card-category">Clientes</p>
                        <h3 class="card-title">{{dash.TotalClients}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Al dia
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">group</i>
                        </div>
                        <p class="card-category">Usuarios</p>
                        <h3 class="card-title">{{dash.TotalUsers}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Al dia
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Apuestas</h4>
                        <p class="card-category">Ventas por dia y por usuario</p>
                    </div>
                    <div class="card-body">


                        <div class="row">
                            <div class="col-md-6">
                                <div class="example-container">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Usuario</mat-label>
                                        <mat-select name="ID_UserChartSelected" [(ngModel)]="ID_UserChartSelected" (selectionChange)='getAdminCharts()'>
                                            <mat-option value="" selected>
                                                Todos
                                            </mat-option>
                                            <mat-option *ngFor="let user of users; let i = index" [value]="user.ID_User">
                                                {{user.Name}} {{user.LastName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="example-container">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Fecha de venta</mat-label>
                                        <input matInput #refe (dateChange)="getAdminCharts()" name="chartDateFilter" [matDatepicker]="usersChartDateFilter" [(ngModel)]="chartDateFilter">
                                        <mat-datepicker-toggle matSuffix [for]="usersChartDateFilter"></mat-datepicker-toggle>
                                        <mat-datepicker #usersChartDateFilter></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>


                        </div>


                        <div id="myChartContainer" style="width: 100%; height: 250px;">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> Al dia
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="row">

            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Apuestas</h4>
                        <p class="card-category">Configuración</p>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit(configForm)" #configForm="ngForm">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="example-container">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Maximo: {{config.MaxAmount | currency:'MXN'}}</mat-label>
                                            <input matInput name="MaxAmount" type="number" class="example-right-align" [(ngModel)]="config.MaxAmount" pattern="^[1-9][0-9]*$" required>
                                            <span matPrefix>$&nbsp;</span>
                                            <span matSuffix>.00</span>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <mat-label>Ultima hora: {{config.LastHourForBets | hour}}</mat-label>
                                    <mat-slider thumbLabel [displayWith]="formatLabel" name="LastHourForBets" tickInterval="1" min="01" max="24" style="top: -9px;" [(ngModel)]="config.LastHourForBets"></mat-slider>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-warning pull-right">Guardar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>



            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Apuestas</h4>
                        <p class="card-category">Agegar número ganador</p>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmitBetWinerForm(BetWinerForm)" #BetWinerForm="ngForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="example-container">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Número ganador (00 - 999)</mat-label>
                                            <input matInput name="betsWinner.Number" placeholder="Número" type="text" [(ngModel)]="betsWinner.Number" pattern="^[0-9]{1,3}$" required>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="example-container">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Fecha del sorteo</mat-label>
                                            <input matInput name="betsWinner.Date" [matDatepicker]="picker" [(ngModel)]="betsWinner.Date" required>
                                            <!-- <input matInput name="betsWinner.Date" [min]="todayDate" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" [(ngModel)]="betsWinner.Date" [disabled]="allDates == 'false'" required> -->
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <button mat-raised-button type="submit" class="btn btn-info pull-right">Guardar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>





            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Apuestas</h4>
                        <p class="card-category"> Apuestas ganadoras</p>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="example-container">
                                    <mat-form-field>
                                        <mat-label>Buscar</mat-label>
                                        <input matInput (keyup)="applyBetsWinnersFilter($event)" placeholder="Buscar" #input>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="example-container">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Fecha del sorteo</mat-label>
                                        <input matInput #ref (dateChange)="betsWinnersDateFilterTable()" name="betsWinnersDateFilter" [matDatepicker]="datePicker" [(ngModel)]="betsWinnersDateFilter" required>
                                        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                                        <mat-datepicker #datePicker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="table-responsive">
                        <table mat-table [dataSource]="dataSource2" #t2Sort="matSort" matSort class="table">

                            <!--- Note that these columns can be defined in any order.
                                      The actual rendered columns are set as a property on the row definition" -->

                            <!-- Position Column -->
                            <ng-container matColumnDef="ID_Bet">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.ID_Bet}} </td>
                            </ng-container>

                            <!-- Position Column -->
                            <ng-container matColumnDef="WinnerNumber">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. ganador </th>
                                <td mat-cell *matCellDef="let element"> {{element.WinnerNumber}} </td>
                            </ng-container>



                            <!-- Position Column -->
                            <ng-container matColumnDef="UserFullName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendedor </th>
                                <td mat-cell *matCellDef="let element"> {{element.UserFullName}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="ClientFullName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
                                <td mat-cell *matCellDef="let element"> {{element.ClientFullName}} </td>
                            </ng-container>







                            <!-- Position Column -->
                            <ng-container matColumnDef="ID_Group">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Grupo </th>
                                <td mat-cell *matCellDef="let element"> {{element.ID_Group}} </td>
                            </ng-container>


                            <!-- Weight Column -->
                            <ng-container matColumnDef="Number">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Número </th>
                                <td mat-cell *matCellDef="let element"> {{element.Number}} </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="Bet">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Apuesta </th>
                                <td mat-cell *matCellDef="let element"> {{element.Bet | currency:'MXN'}} </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="Date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de juego </th>
                                <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
                            </ng-container>


                            <!-- Symbol Column -->
                            <ng-container matColumnDef="Created">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Creada </th>
                                <td mat-cell *matCellDef="let element"> {{element.Created}} </td>
                            </ng-container>




                            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                        </table>
                        <mat-paginator #t2Paginator [pageSizeOptions]="[10, 20, 100]" showFirstLastButtons></mat-paginator>

                    </div>
                </div>
            </div>
            <!-- </div> -->




            <div class="col-lg-112 col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Apuestas</h4>
                        <p class="card-category"> Ultimas puestas generadas</p>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="example-container">
                                    <mat-form-field>
                                        <mat-label>Buscar</mat-label>
                                        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="example-container">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Fecha del sorteo</mat-label>
                                        <input matInput #refe (dateChange)="betsDateFilterTable()" name="betsDateFilter" [matDatepicker]="betsDatePickerFilter" [(ngModel)]="betsDateFilter">
                                        <mat-datepicker-toggle matSuffix [for]="betsDatePickerFilter"></mat-datepicker-toggle>
                                        <mat-datepicker #betsDatePickerFilter></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>



                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataSource" #t1Sort="matSort" matSort class="table">

                                <!--- Note that these columns can be defined in any order.
                                      The actual rendered columns are set as a property on the row definition" -->

                                <!-- Position Column -->
                                <ng-container matColumnDef="ID_Bet">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ID_Bet}} </td>
                                </ng-container>

                                <!-- Position Column -->
                                <ng-container matColumnDef="ID_Group">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Grupo </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ID_Group}} </td>
                                </ng-container>


                                <!-- Position Column -->
                                <ng-container matColumnDef="UserFullName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendedor </th>
                                    <td mat-cell *matCellDef="let element"> {{element.UserFullName}} </td>
                                </ng-container>



                                <!-- Name Column -->
                                <ng-container matColumnDef="ClientFullName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ClientFullName}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="Number">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Número </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Number}} </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="Bet">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Apuesta </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Bet | currency:'MXN'}} </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="Date">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de juego </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
                                </ng-container>


                                <!-- Symbol Column -->
                                <ng-container matColumnDef="Created">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Creada </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Created}} </td>
                                </ng-container>




                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator #t1Paginator [pageSizeOptions]="[10, 20, 100]" showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>






        </div>
    </div>
</div>