<div class="main-content animated fadeIn">
    <div class="container-fluid">


        <div class="row">

            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-danger">
                        <h4 class="card-title ">Quinelas App</h4>
                        <p class="card-category">Información relevante del sistema quinelas</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Version:</td>
                                    <td>{{info.Version}}</td>
                                </tr>
                                <tr>
                                    <td>Servidor:</td>
                                    <td>{{info.Server}}</td>
                                </tr>
                                <tr>
                                    <td>Actualización:</td>
                                    <td>{{info.Updated}}</td>
                                </tr>
                                <tr>
                                    <td>Ayuda:</td>
                                    <td> <a href="{{info.Help}}" target="_blank">{{info.Help}}</a> </td>
                                </tr>
                                <tr>
                                    <td>Emergencia:</td>
                                    <td> <a href="tel:{{info.Emergency}}" target="_blank">{{info.Emergency}}</a> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>