<div class="main-content animated fadeIn">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">{{user.Type}}</h6>
                        <h4 class="card-title">{{user.Name}} {{user.LastName}}</h4>
                        <p class="card-description">
                            {{user.AboutMe}}
                        </p>
                        <!--<a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>-->
                    </div>
                </div>
            </div>


            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Perfil</h4>
                        <p class="card-category">Completa tu perfil</p>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit(profileForm)" #profileForm="ngForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput name="Name" placeholder="Nombre (s)" [(ngModel)]="user.Name" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput name="LastName" placeholder="Apellido (s)" [(ngModel)]="user.LastName" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput name="Email" placeholder="Email" type="email" [(ngModel)]="user.Email" email required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput name="Phone" placeholder="Teléfono" type="text" [(ngModel)]="user.Phone" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput name="Type" placeholder="Tipo" type="text" [(ngModel)]="user.Type" disabled required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput name="Address" placeholder="Dirección" type="text" [(ngModel)]="user.Address">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput name="AddressState" placeholder="Estado" type="text" [(ngModel)]="user.AddressState">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput name="AddressCity" placeholder="Ciudad" type="text" [(ngModel)]="user.AddressCity">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput name="AddressZipCode" placeholder="Codigo postal" type="text" [(ngModel)]="user.AddressZipCode">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Extra</label>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput name="AboutMe" placeholder="Sobre mi" [(ngModel)]="user.AboutMe"></textarea>
                                    </mat-form-field>
                                    <!-- <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> -->
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Guardar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="col-lg-112 col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Apuestas</h4>
                        <p class="card-category"> Apuestas ganadoras</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <mat-form-field>
                                <mat-label>Buscar</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
                            </mat-form-field>



                            <table mat-table [dataSource]="dataSource" matSort class="table">

                                <!--- Note that these columns can be defined in any order.
                                      The actual rendered columns are set as a property on the row definition" -->

                                <!-- Position Column -->
                                <ng-container matColumnDef="ID_Bet">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ID_Bet}} </td>
                                </ng-container>

                                <!-- Position Column -->
                                <ng-container matColumnDef="WinnerNumber">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Número ganador </th>
                                    <td mat-cell *matCellDef="let element"> {{element.WinnerNumber}} </td>
                                </ng-container>



                                <!-- Position Column -->
                                <ng-container matColumnDef="UserFullName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendedor </th>
                                    <td mat-cell *matCellDef="let element"> {{element.UserFullName}} </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="ClientFullName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ClientFullName}} </td>
                                </ng-container>







                                <!-- Position Column -->
                                <ng-container matColumnDef="ID_Group">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Grupo </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ID_Group}} </td>
                                </ng-container>


                                <!-- Weight Column -->
                                <ng-container matColumnDef="Number">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Número </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Number}} </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="Bet">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Apuesta </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Bet | currency:'MXN'}} </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="Date">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de juego </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
                                </ng-container>


                                <!-- Symbol Column -->
                                <ng-container matColumnDef="Created">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Creada </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Created}} </td>
                                </ng-container>




                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[10, 20, 100]" showFirstLastButtons></mat-paginator>

                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>