<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title">Nueva apuesta</h4>
        <p class="card-category">Completa la información</p>
    </div>
    <div class="card-body">
        <form (ngSubmit)="onSubmit(betForm)" #betForm="ngForm">

            <div class="example-container">
                <mat-form-field class="example-full-width">
                    <mat-label>Cliente</mat-label>
                    <mat-select name="ID_Client" [(ngModel)]="bet.ID_Client" required>
                        <mat-option value="-1">
                            Nuevo cliente
                        </mat-option>
                        <mat-option *ngFor="let client of clients; let i = index" [value]="client.ID_Client">
                            {{client.FullName}} / {{client.Phone}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <div class="row" *ngIf="bet.ID_Client == -1">
                    <div class="col-md-6">
                        <div class="example-container">
                            <mat-form-field class="example-full-width">
                                <mat-label>Nombre</mat-label>
                                <input matInput name="Name" placeholder="Nombre del cliente" type="text" [(ngModel)]="client.Name" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="example-container">
                            <mat-form-field class="example-full-width">
                                <mat-label>Teléfono</mat-label>
                                <input matInput name="Phone" placeholder="Teléfono del cliente" type="number" [(ngModel)]="client.Phone" required>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="example-container">
                            <mat-form-field class="example-full-width">
                                <mat-label>Fecha de apuestas</mat-label>
                                <mat-select name="allDates" [(ngModel)]="allDates" required>
                                    <mat-option value="true">
                                        Diferente dia
                                    </mat-option>
                                    <mat-option value="false">
                                        Mismo dia
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="col-md-6" *ngIf="allDates == 'false'">
                        <div class="example-container">
                            <mat-form-field class="example-full-width">
                                <mat-label>Fecha del juego</mat-label>
                                <input matInput name="allDatesDate" [min]="todayDate" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" [(ngModel)]="allDatesDate" (ngModelChange)="removevalue()" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>


                </div>




                <div class="row" *ngFor="let betValue of betValues; let i = index">
                    <div class="col-md-4">
                        <div class="example-container">
                            <mat-form-field class="example-full-width">
                                <mat-label>Número (00 - 999)</mat-label>
                                <input matInput name="betValue{{i}}" placeholder="Número" type="text" [(ngModel)]="betValue.Number" pattern="^[0-9]{1,3}$" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="example-container">
                            <mat-form-field class="example-full-width">
                                <mat-label>Apuesta {{betValue.Bet | currency:'MXN'}}</mat-label>
                                <input matInput name="betValue{{i + 999}}" type="number" class="example-right-align" [(ngModel)]="betValue.Bet" pattern="^[1-9][0-9]*$" required>
                                <span matPrefix>$&nbsp;</span>
                                <span matSuffix>.00</span>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="example-container">
                            <mat-form-field class="example-full-width">
                                <mat-label>Fecha del juego</mat-label>
                                <input matInput name="betValue{{i + 9999}}" [min]="todayDate" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" [(ngModel)]="betValue.Date" [disabled]="allDates == 'false'" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                        </div>
                    </div>



                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <button mat-flat-button color="warn" class="pull-right" (click)="addvalue()">
                            <mat-icon>note_add</mat-icon>
                        </button>
                    </div>
                </div>


                <!-- 
                //Apuestas
                <h2>Result</h2>
                <div *ngFor="let betValue of betValues;">
                    {{ betValue.Number }} --- {{ betValue.Bet }}
                </div> -->





            </div>


            <div class="clearfix "></div>
            <div class="row">
                <div class="col-md-12">
                    <button mat-raised-button type="submit" class="btn btn-success pull-right ">Guardar</button>
                    <button mat-raised-button type="button" (click)="onClose()" class=" btn btn-danger pull-right ">Salir</button>



                </div>
            </div>

            <div class="clearfix "></div>
        </form>
    </div>
</div>